
@{
    ViewData["Title"] = "Admin Page";
    
}
<div class="container">
    <div class="card">
        <div class="content">
            <h1 class="heading">Welcome to the Admin Page</h1>
            <p class="text-center">Hello, <strong>@ViewBag.AdminName</strong>!</p>

            <div class="button-container">
                <button class="btn btn-primary"><a class="nav-link text-white" asp-area="" asp-controller="Lecturers" asp-action="PendingLecturers">Pending Lecturers</a></button>
                <button class="btn btn-secondary"><a class="nav-link text-white" asp-area="" asp-controller="Students" asp-action="PendingStudents">Pending Students</a></button>
                <button class="btn btn-primary"><a class="nav-link text-white" asp-area="" asp-controller="StudyPrograms" asp-action="index">Programs</a></button>
                <button class="btn btn-secondary"><a class="nav-link text-white" asp-area="" asp-controller="Students" asp-action="index">Students</a></button>
                <button class="btn btn-success"><a class="nav-link text-white" asp-area="" asp-controller="Lecturers" asp-action="index">Lecturers</a></button>
                <button class="btn btn-success"><a class="nav-link text-white" asp-area="" asp-controller="Schools" asp-action="index">Schools</a></button>
                <button class="btn btn-success"><a class="nav-link text-white" asp-area="" asp-controller="Courses" asp-action="index">Courses</a></button>
            </div>
        </div>
    </div>
</div>
<script>
    
</script>
